*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em;
    
    margin-bottom: 5em;
}

ul{
    list-style: none;
}
a{
    margin-right: 40px;
    color: grey;
    text-decoration: none;
}
button{
    background-color: blueviolet;
    height: 4em;
    width: 9em;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

main  {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em;
    

}
.button-2{
    height: 2em;
    width: 28em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn{
    font-size: 1em;
    margin-left: 8px;
    color: white;
    text-decoration: underline;
}
.learn:hover{
    color: gold;
}



h1{
    color: rgba(2, 2, 48, 0.788);
    margin-top: 10px;   
    margin-bottom: 1em; 
}
p{
    color: grey;
    margin-top: 1em;   
    
}
input{
    background-color: white;
    height: 4em;
    width: 23em;
    border: none;
    padding-left: 2em;
    font-size: 1em;
    border-radius: 5px;
    margin-right: 20px;
    border: solid rgb(184, 179, 179) 2px;
    margin-top: 1em; 
}
main img{
    
    width: 20em;
    height: 20em; 
    
    
    
}

footer{
    height: 3em;
    width: 100vw;
    margin-top: 11em;
    padding-left: 5em;

}
h4{
    color: grey;
    font-size: 1em;
}
h3{
    display: none;
}

@media screen and (max-width: 768px) {
    nav{
        display: none;
    }
    h3{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 4px;
        padding-right: 0;
    }
    header{
        margin-bottom: 6em;
        margin-right: auto;
    }
    main img{
        display: none;
    }
    .button-2{
        height: 4em;
        width: 20em;
        border-radius: 30px;
        display: flex;
        flex-direction: column; 
        /* padding:  1em; */
    }
    main{
        width: 0;
    }
    footer img{
        /* width: 8em; */
        display: flex;
    }
    

        
       
    }
    
}

